html {
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
}

.first-section,
footer {
    background-color: #1F2937;
}

.first-section {
    padding: 50px;
}

.header {
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 20px
}

.header-links li a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-section {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hero-text {
    flex-flow: column wrap;
    flex: 2;
    color: #F9FAF8;

}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    margin: 0 0 20px 0;
}

.hero-subtext {
    margin: 0 0 20px 0;
}

.hero-btn {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px 20px;
    align-self: flex-start;
}

.hero-img {
    flex: 1;
    width: 20%;
    height: auto;
}